:root {
    --deep-red: #8a1216;
    --grey: #333745;
    --accent-orange: #FE5F55;
    --beige: #EEF5DB;
}

h1 {
    font-family: 'Merriweather', serif;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
}

.videos ul {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-top: 20vh;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
