:root {
    --deep-red: #8a1216;
    --grey: #333745;
    --accent-orange: #FE5F55;
    --beige: #EEF5DB;
}

h1 {
    font-family: 'Merriweather', serif;
    padding: 20px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
}

.videos ul {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

a {
    color: var(--deep-red);
}

a:hover {
    color: var(--accent-orange);
    text-decoration: underline;
}

#contact {
    padding: 50px;
    background-color: var(--beige);
    width: 500px;
    border-radius: 10px; 
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
   
}

#services {
    padding: 50px;
    background-color: var(--beige);
    border-radius: 10px;
    width: 500px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;

}

ul {
    list-style-type: circle;
}

footer {
    background-color: var(--grey);
    height: 200px;
    color: white;
    border-top: 10px var(--deep-red);
    text-align: center;
}

.col {
    margin-top: 10px;
}

#quote {
    padding: 30px;
    color: var(--accent-orange);
    margin-left: auto;
    margin-right: auto;
}

.featured-image {
    width: 500px;
    margin: auto;

}

#about-me {
    padding: 50px;
    align-items: center;
    background-color: var(--beige);
    width: 500px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.logo {
    width: 300px;
    margin: auto;
    padding: 10px;
}
